[submodule "Vendor/TMMoveToApplicationsFolder"]
	path = Vendor/TMMoveToApplicationsFolder
	url = git://github.com/RISCfuture/TMMoveToApplicationsFolder.git
[submodule "Vendor/TMInflector"]
	path = Vendor/TMInflector
	url = git://github.com/RISCfuture/TMInflector.git
[submodule "Vendor/ASIHTTPRequest"]
	path = Vendor/ASIHTTPRequest
	url = git://github.com/pokeb/asi-http-request.git
