<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pdf</key>
	<string>Portable Document Format file</string>
	<key>doc</key>
	<string>Microsoft Word document</string>
	<key>docx</key>
	<string>Microsoft Word document</string>
	<key>ppt</key>
	<string>Microsoft PowerPoint presentation</string>
	<key>pptx</key>
	<string>Microsoft PowerPoint presentation</string>
	<key>xls</key>
	<string>Microsoft Excel workbook</string>
	<key>xlsx</key>
	<string>Microsoft Excel workbook</string>
	<key>txt</key>
	<string>text file</string>
	<key>rtf</key>
	<string>rich text file</string>
	<key>ps</key>
	<string>PostScript file</string>
	<key>odt</key>
	<string>OpenDocument text file</string>
	<key>odp</key>
	<string>OpenDocument presentation</string>
	<key>ods</key>
	<string>OpenDocument spreadsheet</string>
	<key>odg</key>
	<string>OpenDocuments graphics file</string>
	<key>odf</key>
	<string>OpenDocument formula file</string>
	<key>sxw</key>
	<string>OpenOffice Writer document</string>
	<key>sxc</key>
	<string>OpenOffice Calc document</string>
	<key>sxi</key>
	<string>OpenOffice Impress presentation</string>
	<key>sxd</key>
	<string>OpenOffice Draw file</string>
	<key>jpg</key>
	<string>JPEG image</string>
	<key>jpeg</key>
	<string>JPEG image</string>
	<key>gif</key>
	<string>GIF image</string>
	<key>png</key>
	<string>PNG image</string>
	<key>tif</key>
	<string>TIFF vector image</string>
	<key>tiff</key>
	<string>TIFF vector image</string>
</dict>
</plist>
